<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" 
         id="WebApp_ID" 
         version="3.1">
  <display-name>iceCreamery</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>host</param-name>
    <param-value>mail.electraink.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>webmaster@electraink.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>rafa_d00f</param-value>
  </context-param>
  <context-param>
    <param-name>recipient</param-name>
    <param-value>jerry.o.ford@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>subject</param-name>
    <param-value>Ice Creamery</param-value>
  </context-param>
  <context-param>
    <param-name>callback</param-name>
    <param-value>(925) 943-1698</param-value>
  </context-param>
  <servlet>
    <servlet-name>CommentMgrServlet</servlet-name>
    <servlet-class>com.electraink.iceCreamery.servlets.CommentReceptor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentMgrServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecipeInputServlet</servlet-name>
    <servlet-class>com.electraink.iceCreamery.servlets.RecipeInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeInputServlet</servlet-name>
    <url-pattern>/recipeInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IngredientInputServlet</servlet-name>
    <servlet-class>com.electraink.iceCreamery.servlets.IngsInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngredientInputServlet</servlet-name>
    <url-pattern>/ingsInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecipeListServlet</servlet-name>
    <servlet-class>com.electraink.iceCreamery.servlets.RecipeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeListServlet</servlet-name>
    <url-pattern>/recipeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>com.electraink.iceCreamery.servlets.ImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/imageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.electraink.iceCreamery.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XmlEditor</servlet-name>
    <servlet-class>com.electraink.iceCreamery.servlets.XmlEditor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlEditor</servlet-name>
    <url-pattern>/editXml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IngGetText</display-name>
    <servlet-name>IngGetText</servlet-name>
    <servlet-class>com.electraink.iceCreamery.servlets.IngGetText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngGetText</servlet-name>
    <url-pattern>/ingGetText</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Recipe Input</web-resource-name>
      <url-pattern>/nowhere</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/testKitchen/login.html</form-login-page>
      <form-error-page>/testKitchen/login_failed.html</form-error-page>
    </form-login-config>
  </login-config>
</web-app>